<div class="converter-container">
  <div class="flex flex-column converter p-6">

    <div class="flex align-items-center mb-4">
      <label for="numberInput" class="input-label">Введіть довільне число:</label>
      <input id="numberInput" class="input-field" [(ngModel)]="inputNumber" #input>
    </div>
  
    <div class="flex align-items-center justify-content-around mb-4">
      <button class="convert-button" (click)="convert(input.value)" [disabled]="!input.value">Конвертувати</button>
      <button class="clear-button" (click)="clear()" [disabled]="!input.value">Очистити</button>
    </div>
  
    <div class="mx-auto">Системи числення: </div>
  
    <div class="flex flex-column gap-3">
      <div class="flex gap-3 pt-4">
        <span>Двійкова:</span>
        <div>{{binaryValue}}</div>
      </div>
      <div class="flex gap-3">
        <span>Вісімкова:</span>
        <div>{{octalValue}}</div>
      </div>
      <div class="flex gap-3">
        <span>Десяткова:</span>
        <div>{{decimalValue}}</div>
      </div>
      <div class="flex gap-3">
        <span>Шістнадцяткова:</span>
        <div>{{hexValue}}</div>
      </div>
    </div>
  </div>
</div>

